node_modules

/*
 "test": "echo \"Error: no test specified\" && exit 1",
    "build": "cd client && npm run build",
    "install-client": "cd client && npm install",
    "heroku-postbuild" : "npm rub install-client && npm run build",

*/